:root {
 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-light: #2AA7FF;
  --white-txt:#ffffff;

}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;

}

a{
  color: var(--white-txt);
  text-decoration: none;
}
